.search-bar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: auto;
    margin-left: auto;
}

.search-bar-main input[type=text] {
    padding: 15px;
    width: 100%;
    outline: 0px solid black;
    transition: ease all 0.25s;
    flex: 8
}

.search-bar-main input[type=text]:focus {
    outline: 2px solid black;
}

.search-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px; /* width 100% doesn't match height of main container? */
    flex: 2.5;
    cursor: pointer;
    border-radius: 1px;
    background-color: lightblue;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.search-bar-button:hover {
    background-color: #aee6de;
}

